.footer {
    color: $white;
    padding: 24px 0;
    background-color: #566774;

    img {
        width: 160px;
        margin-bottom: 16px;
    }

    p {
        font-size: 14px;
        color: $white;
        text-align: center;
    }
}